{% extends 'base.html.twig' %}
{% block title %}{{ product.title }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ product.title }}</h1>
        <p>{{ product.description }}</p>
        <h3 class="text-primary">{{ product.price }} €</h3>
        <a href="{{ path('app_cart') }}" class="btn btn-success">Voir le panier</a>
        <a href="{{ path('app_categories') }}" class="btn btn-secondary">Retour</a>
    </div>
</div>
{% endblock %}
